<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" /> 
    </head>

    <body>
        <h2>Kysymykset</h2>
		<ul>
			<li th:each="kurssi: ${kurssit}">
				Kurssi: <span th:text="${kurssi.getNimi()}">kurssi</span>
				<ul>
					<li th:each="kysymys: ${kurssi.getKysymykset()}">
						Aihe: <span th:text="${kysymys.aihe}">aihe</span><br>
						<a th:href="@{~/kysymykset/{id}(id=${kysymys.id})}">
							<span th:text="${kysymys.kysymysteksti}">kysymysteksti</span>
						</a><br><br>
						<form method="POST" th:action="@{~/kysymykset/{id}/delete(id=${kysymys.id})}">
							<input type="submit" value="Poista"/>
						</form>
					</li>
				</ul>
			</li>
		</ul>
		
        <h2>Luo uusi kysymys</h2>
        <form method="POST" action="/kysymykset">
	      <table>
		  <tr>
		    <td>
		      Kurssi:
		    </td>
		    <td>
			<input type="text" name="kurssi"/>
		    </td>
		  </tr>
		  <tr>
		    <td>
		      Aihe:
		    </td>
		    <td>
			<input type="text" name="aihe"/>
		    </td>
		  </tr>
		  <tr>
		    <td>
		      Kysymysteksti:
		    </td>
		    <td>
			<input type="text" name="kysymysteksti"/>
		    </td>
		  </tr>
	    </table>
		<input type="submit" value="Luo"/>
  	</form>
    </body>
</html>