<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title th:text="${kysymys.getKysymysteksti()}">Kysymyskohtainen sivu</title>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<span style="color:tomato;" th:text="${error}"/> 
		<h1 th:text="${kysymys.getKysymysteksti()}">Kysymys</h1>
		  <table>
			<tr>
			  <td>
				  <font size="10"> Kurssi:</font> <font size="10" th:text="${kysymys.getKurssi().getNimi()}"/> 
			  </td>
			</tr>
			<tr>
			  <td>
				  <font size="8"> Aihepiiri:</font> <font size="8" th:text="${kysymys.getAihe()}"/>
			  </td>
			</tr>
		  </table>
		<ul>
			<li th:each="vastausvaihtoehto: ${kysymys.vastausvaihtoehdot}">	
				<span th:text="${vastausvaihtoehto.getVastaus()}">Vastausvaihtoehto</span> 
				<strong th:text="${vastausvaihtoehto.isOikein()}">Oikeellisuus</strong>
				<form method="POST" th:action="@{~/kysymykset/{id}/{id2}/delete(id=${kysymys.id}, id2=${vastausvaihtoehto.getId()})}">
					<input type="submit" value="Poista"/>
				</form><br>
			</li>
		</ul>

		<h1>Luo uusi vastausvaihtoehto</h1>
		<form method="POST" th:action="@{~/kysymykset/{id}(id=${kysymys.id})}">
			<table>
			  <tr>
				<td>
				  Vastausteksti:
				</td>
				<td>
				<input type="text" name="vastausteksti"/>
				</td>
			  </tr>
			  <tr>
				<td>
				  Oikein:
				</td>
				<td>
				<input type="checkbox" name="oikein"/>
				</td>
			  </tr>
			</table>
			<input type="submit" value="Luo"/>
		</form>	
		<ul>
			<li>
				<a href="../../">Kysymysten listaukseen</a>
			</li>
		</ul>
	</body>
</html>
