<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Kysymyskohtainen sivu</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<h2 th:text="${kysymys.kysymysteksti}">Kysymys</h2>
		  <table>
			<tr>
			  <td>
				Kurssi: <span th:text="${kysymys.kurssi.getNimi()}"/> 
			  </td>
			</tr>
			<tr>
			  <td>
				Aihepiiri: <span th:text="${kysymys.aihe}"/>
			  </td>
			</tr>
		  </table>
		<ul>
			<li th:each="vastausvaihtoehto: ${kysymys.vastausvaihtoehdot}">	
				<span th:text="${vastausvaihtoehto.getVastaus()}">Vastausvaihtoehto</span> 
				<span th:text="${vastausvaihtoehto.isOikein()}">Oikeellisuus</span>
				<form method="POST" th:action="@{~/kysymykset/{id}/{id2}/delete(id=${kysymys.id}, id2=${vastausvaihtoehto.getId()})}">
					<input type="submit" value="Poista"/>
				</form>
			</li>
		</ul>

		<h1>Luo uusi vastausvaihtoehto</h1>
		<form method="POST" th:action="@{~/kysymykset/{id}(id=${kysymys.id})}">
			<table>
			  <tr>
				<td>
				  Vastausteksti:
				</td>
				<td>
				<input type="text" name="vastausteksti"/>
				</td>
			  </tr>
			  <tr>
				<td>
				  Oikein:
				</td>
				<td>
				<input type="checkbox" name="oikein"/>
				</td>
			  </tr>
			</table>
			<input type="submit" value="Luo"/>
		</form>	
	</body>
</html>
